*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --modern: 'Montserrat', sans-serif;
    --dark: #022140;
    --darker: #000d1a;
    --light: #fff;
    --secondary: #D9DBE1;
    --color: #265077;
    --muted: #494B68;
    --orange: orangered;
}

body{
    font-size: 30px;
}

#work{
    font-weight: 900;
    font-size: 100%;
}


h1, 
h2, 
h3, 
h4,
h5,
p,
span,
form,
a,
label,
li{
    font-family: var(--modern);
}

h1{
    font-size:200%;
}

h2{
    font-size: 175%;
}

h3{
    font-size: 150%;
}

h4{
    font-size: 125%;
}

h5{
    font-size: 100%;
}

p, a{
    font-size: 70%;
}

.think_text{
    font-weight: 200;
}

::selection {
    background: var(--orange); /* WebKit/Blink Browsers */
    color: var(--light);
  }
  ::-moz-selection {
    background: var(--orange); /* Gecko Browsers */
    color: var(--light);
  }


/* h1{
    font-weight: 600;
} */

/* Header from a YouTube tutorial */
.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: var(--dark);
    border-bottom: none;
    position: relative;
    z-index: 1;
  
}

.inner_header{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.logo_container h1{
    font-size: 175%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo_container h1, h2 {
    color:var(--light);
    text-align: center;

   
}

.logo_container h1{
    font-weight:900
}

.navigation {
    float:right;
    height: 100%;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child{
    padding-right: 0px;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: var(--light);
    font-family: var(--modern);
    font-size: 80%;
}

.navigation a li:hover{
    transition: 0.3s;
    color: orangered
}

#hero_text{
    text-align: center;
    margin-bottom: 0px;
}
.about{
    background-color: var(--light);
    background-image: url(./Images/cool-background.png);
    background-repeat: none;
    background-size: cover;
    padding: 50px 0px;
}

.port_text_box a:hover{
    transition: 0.3s;
    color: orangered
}

.port_text_box a:hover{
    transition: 0.3s;
    background-color: var(--light);
}

.port_text_box a{
    border: var(--light) 1px solid;
    padding: 10px 20px;
    border-radius: 30px;
}

.sticky_nav{
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1;
}

.hero_img{
    width: 100%;
    height: 500px;
    background-image: url(./Images/dev_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* filter: blur(0px);
    -webkit-filter: blur(0px); */
  
}

.hero_img_bg{
    display: flex;
    height: 20px;
    width: 100px;
    background-color: red;
}

/* a message another message */

.hero_img h2{
    background-color: var(--light));
    padding: 25px;
    margin-left: 20px;
    border-radius: 15px;
}

.hudson_talking_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#headshot{
}

.about_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}



.about_text{
    margin: 0px 10%;
    color:var(--dark);

}

.about_img{
margin-top: 50px;
margin-bottom: 50px;
display: flex;
justify-content: center;

}

.port1_container{
    position: relative;
}

.port1_container a, .port2_container a{
    color: var(--orange)
}

.heading_light{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0% 3%;
    margin-top: 0px;
    font-size: 175%;
    text-transform: uppercase;
    color: var(--light);
}

.heading_dark{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0% 3%;
    margin-top: 0px;
    font-size: 175%;
    text-transform: uppercase;
    color: var(--light);
}

.contact_container{
    height: 350px;
    width: 100%;
    padding: 25px;
    position: relative;
    display: flex;
    background-image: url('https://designslabpro.com/wp-content/uploads/2018/02/section-header-bg.jpg');
    flex-direction: column;
}

.form_box{
    position: absolute;
    right:50%;
    top: 100px;
    margin-top:25px;
}

.contact_heading h2{
    color: var(--light);
    text-align: center;
    padding-top: 25px;
}

.form_box label{
    color: var(--light);
}

.form_box input{
    border-radius: 20px;
    padding: 10px 20px;
}
]





.work a{
    color:var(--secondary);
    text-align: right;
}

.work a:hover{
    color:var(--orange);
    text-align: right;
}

.port1_container{
    background-color: var(--muted);
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
  }

  .port2_container{
    background-color: var(--dark);
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 
  }

  .port_img_box{
      margin: 50px;

  }

  .port_text_box{
      margin: 50px;
 
  }
  
  .port_img_box img{
    height: 450px;
    filter: drop-shadow(0 0 0.75rem #101010);
    position: relative;
   
  }

  .port1_container h5, .port2_container h5{
      color: var(--light);
      font-weight: 900;
  }

  .port1_container p, .port2_container p{
    color: var(--light);
    font-weight: 100;
    margin-bottom: 20px;

}
  

#form_button{
    background-color: var(--orange);
    color: var(--light);
    padding: 10px 50px;
    margin-top:20px;
    font-family: var(--modern);
    font-weight: 900;
}

#form_button:hover{
    background-color: greenyellow;
    color: var(--darker);
    padding: 10px 50px;
    margin-top:20px;
    transition: 0.3s;

}
 


/* Footer Formatting */
  /* .footer_container{
      display: flex;
  }
  
  #footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 14rem;    
    background-color: var(--muted);
    border-top:none;
    color: var(--light);
    z-index: -1;

  }

  #footer p{
    display: flex;
    justify-content: center;
    align-items: center;
  } */
    
          /* Footer height */

.navbar{
    background-color: var(--color);
    padding: 6px 0 6px 50px;
}


.links li{
    text-decoration: none;
    display: inline;
    color: var(--light);
    font-weight: 500;
    margin-right: 20px;
    font-size: 15px;
    
}

@media screen and (max-width:1229px) {
    .navigation{
        background-color: var(--muted);
        width: 100%;
        display: none;
       
    }
    .logo_container h1{
        font-size: 125%;
    }
    .about_container{
        display: block;
    }
    .about_container h3{
        font-size: 100%;
        margin-bottom: 20px;
    }
    .about_img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .port1_container, .port2_container{
        display: flex;
        flex-direction: column;
        padding: 10% 10%;
        
    }
   
    .port_img_box{
        margin: 0;
        padding-top:50px;
    }
    .port_text_box{
        margin: 0px;
    }

}

@media screen and (max-width: 860px) {
    .hero_img h3{
       position: absolute;
       bottom: 25px;

    }
    .hudson_talking_container{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .port1_container img, .port2_container img {
      width: 70%;
      height: 90%;

        
    }
    .heading_light{
    display: none;
    }

}

@media screen and (max-width: 405px) {
    .header h1{
        font-size: 90%;
    }
    .heading_light{
        position: absolute;
        top: 0;
        left: 0;
        padding: 0% 3%;
        margin-top: 0px;
        font-size: 175%;
        text-transform: uppercase;
        color: var(--light);
    }
    .heading_light{
        display: none;
        }
}



