*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

:root {
    --modern: 'Roboto', sans-serif;;
    --dark: #110022;
    --color: #7F00FF;
    --light: #fff;
    --otherDark: #2B2135;
}

.hide{
    display: none;
}


.welcome{
    height: 715px;
    position: relative;
    
}


#name-text, h2{
    font-size: 190%;
    margin: 0 1.5rem;
}

#location-text{
    margin-top: 2rem;
}

footer{
    background-color: var(--otherDark);
}

#nav-btn{
    position: fixed;
    bottom: 100px;
    background-color: var(--color);
    color: var(--light);
    border-radius: 50px;
    width: 184px;
    height: 50px;
    left: 50%;
    transform: translate(-50%);
    font-weight: 900;
    border: none;
    font-size: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

#avatar{
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 1rem;
}

#up-arrow{
    font-size: 130%;
    color: var(--light);
    right: 50px;
    bottom: 107px;
    margin-left: 10px;
}

#down-arrow{
    position: fixed;
    left: 25px;
    top:423px;
    font-size: 175%;
    color: var(--light);
}

.menu{
    background-color: var(--color);
    position: fixed;
    z-index: 100;
    width: 375px;
    height: 424px;
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.menu-buttons{
    width: 125px;
    height: 46px;
    background-color: #6D0ECD;
    color: var(--light);
    margin-top: 1rem;
    border-radius: 50px;
    border: none;
    font-weight: 900;
}

.menu-buttons:hover{
    background-color: #7b1bdb;
}

