*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

:root {
    --modern: 'Roboto', sans-serif;;
    --dark: #110022;
    --color: #7F00FF;
    --light: #fff;
    --otherDark: #2B2135;
}

#showcase-text{
    text-align: center;
    margin: 0 10%;
}

#swipe{
    width: 40px;
    position: absolute;
    left: 50%;
    /* margin-top: 1rem; */
    transform: translate(-50%);
}

#instruction{
    margin: 0 10%;
    font-size: 70%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: .5rem;
}

.swiper-container {
    width: 300px;
    height: 400px;
    background-color:var(--light);
    border-radius: 20px;
    margin-top: 3.5rem;
  }

  .swiper-slide{
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 2rem;
      text-align: center;
  }

  .swiper-slide img{
      width: 100%;
      border-radius: 20px;
  }

  .swiper-slide h4{
    margin-top:1rem;
}

#links{
    display: flex;
    flex: row;
}

#links i{
    font-size: 200%;
    color: var(--color);
    cursor: pointer;
    margin: 1rem 1rem;
}



@media screen and (min-width: 768px){
    #showcase-heading{
        font-size: 400%;
        width: 1000px;
        margin: 1rem 10%;
        text-align: left;

    }

    #showcase-text{
        font-size: 130%;
        width: 70%;
        text-align: left;
        margin: 1rem 10%
    }

    .swiper-container {
        width: 700px;
        height: 450px;
      }
    
      .swiper-slide{
          display:flex;
      }
      #instruction{
        text-align: left;
   
    }

    

}