*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --modern: 'Roboto', sans-serif;;
    --dark: #110022;
    --color: #7F00FF;
    --light: #fff;
    --otherDark: #2B2135;
}

html,
body {
    margin: 0;
    padding: 0;
    position: relative;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

body{
    font-size: 20px;
    background-color: var(--dark);
    font-family: var(--modern);
}

.text-light{
    color: var(--light);
}

.text-dark{
    color: var(--dark);
}

.text-color{
    color: var(--color);
}

p{
    font-size: 90%;
    margin-top: 1rem;

}

h1{
    font-size: 230%;
    margin-top: 1rem;

}

h2{
    font-size:200%;
}

h3{
    font-size: 150%;
    margin-top: 1rem;

}

h5{
    font-size: 120%;
    margin-top: 2rem;

}

li{
    font-size: 80%;
    margin-left: 1rem;
    font-weight: 300;
}

ul{
    margin-top: .5rem;
}

/* ------------------------------- */

.logo-container{
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    
}

.logo-container a {
    cursor: pointer;
}

#logo{
    margin:20px;
    z-index: 100;
}

#linkedin, #github, #h-logo{
font-size: 200%;
margin: 1rem;
}

#linkedin:hover, #github:hover, #h-logo:hover {
    color: var(--color)
}

/* ------------------------------- */

.about-intro{
    height: 70vh;
    width: 100%;
    padding: 0 0rem;
    margin-top: 0rem;
}

/* ------------------------------- */

.card{
    background-color: var(--light);
    margin: 5rem 1rem;
    border-radius: 50px;
    padding: 2rem;
}

/* ------------------------------- */

.card2{
    background-color: var(--color);
    margin: 0 1rem;
    border-radius: 50px;
    padding: 2rem;
    margin-top: 2rem;
}

#about-heading{
    margin: 1rem 10%;
    font-size: 200%;

}

#about-text{
    font-size: 100%;
    margin: 0 10%;
}

.card3{
    background-color: var(--otherDark);
    margin: 0 1rem;
    border-radius: 50px;
    padding: 2rem;
    margin-top: 2rem;
}

.inbound-card-btn{
    width: 100%;
    background: #423A4A;
    border-radius: 50px;
    color: var(--light);
    padding: 1rem 3rem;
    margin-top: 1rem;
    border: none;
    font-family: var(--modern);
    font-size: 100%;
    cursor: pointer;
}


footer{
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

footer img{
    width:40px;
    margin-right: 0.5rem;

}

.footer-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.get-to-know-me{
    padding: 0 0 2rem 0;
}

#showcase-heading{
    margin-top: 1rem;
}

#showcase-text{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 0;
}

@media screen and (min-width: 768px){
    #about-text{
        font-size: 130%
    }

    #about-heading{
        margin: 1rem 10%;
        font-size: 400%;
    
    }

    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    li{
    margin-right:2rem ;
    margin-top: 1rem;
    }
    
    .lee{}
    
    .education-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }
    
    .card, .card2{
        margin: 0;
        
        
    }

    .card2, .card{
        height: 500px;
        width: 40%;
        margin: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #gt-text, #lee-text{
        text-align: center;
    }
}

